*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(50deg,#2f7575 100%,#021a1f 100%);
    color: #fff;
}
h1{
    text-align: center;
    margin: 100px auto 10px;
    font-weight: 800;
    color: #19d9ff;
}
h2{
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
}
form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 60px;
    background:#0b8f886e;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 0px solid;
}
form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0 30px;
}
form button{
    padding: 0 40px;
    height: 100%;
    background: #f8f3f3;
    font-size: 21px;
    font-weight: 700;
    border: 1px solid #f8f3f3;
    outline: 0;
    border-top-right-radius:6px ;
    border-bottom-right-radius:6px ;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
form button:hover{
    background: #1b3a3a;
    letter-spacing: 1px;
    color: #f8f3f3;
    border-top-left-radius:6px ;
    border-top-left-radius:6px ;
}
::placeholder{
    color: #fff;
    font-weight: 500;
}
#showMoreButton{
    background: transparent;
    color: #fff;
    border: 1px solid;
    border-radius: 4px;
    outline: 0;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
    transition: 0.3s ease-in-out;
}
#showMoreButton:hover{
    background-color: #1b3a3a;
}
#searchResult{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:40px;
}
#searchResult img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 4px;
}